.App {
  text-align: center;
}

.LoginAndSignUpDiv {
  border-style: solid;
  margin: auto;
  width: 50%;
  margin-top: 10%;
  padding: 1%;
}

.signup-input {
  margin: 1%;
}

.login-input {
  margin: 1%;
}